{{ define "main" }}
<div class="prose dark:prose-invert max-w-none">
  <div class="flex w-full flex-row justify-center">
    <div class="w-full fill-current w-10/12">
    
    </div>
  </div>
  {{ $posts := where .Site.RegularPages "Type" "posts" }}
  
  <div class="w-full text-center space-y-10">
    {{ partial "widgets/vector-cover.html" (dict "Vector" "cx") . }}
    <h1>{{ .Title }}</h1>
  </div>
  <div class="">
    {{ .Content }}
  </div>
  <div class="w-full text-center space-y-10">
    {{ partial "widgets/vector-cover.html" (dict "Vector" "ise-icon-reverse") . }}
  </div>

</div>
{{ end }}
